body {
  color: white;
  margin: 0px;
  padding: 0px;
  background: url("gym-background-img.jpg");
}

.left {
  border: 2px solid red;
  display: inline-block;
  position: absolute;
  left: 34px;
  top:20px;
}
.mid {
  display: block;
  width: 33%;
  margin:20px auto;
  border: 2px solid green;
}
.right {
  display: inline-block;
  border: 2px solid yellow;
  position: absolute;
  right: 34px;
  top:20px;
}
 



