body {
  color: white;
  background: url("gym-background-img.jpg");
  font-family: "Original Surfer", cursive;
  height: "";
  width: "100vh";
  background-repeat: no-repeat;
}

.left {
  border: 2px;
  display: inline-block;
  position: absolute;
  left: 34px;
  top: 20px;
  width: 153px;
  line-height: 1;
}
.left img {
  width: 10rem;
  filter: invert(100%);
}
.left div {
  text-align: center;
}
.mid {
  display: block;
  width: 75%;
  margin: 20px;
  border: 2px;
  margin-left: 569px;
}
.right {
  display: inline-block;
  border: 2px;
  position: absolute;
  right: 34px;
  top: 20px;
  margin-right: 20px;
}
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  font-size: 18px;
}
.navbar li a {
  color: white;
  text-decoration: none;
  padding: 34px 23px;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: gray;
}

.btn {
  margin: opx 9px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  font-family: "Original Surfer", cursive;
}
.btn:hover {
  background-color: darkgray;
}

.container {
  border: 2px;
  margin-left: 41px;
  border-radius: 11px;
  width: 34%;
  padding: 166px 35px;
  float: none;
  height: 47px;
  margin-top: 131px;
}
.form-group {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 14px;
  box-sizing: border-box;
}
input {
  width: 80%;
  background-color: none;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

h1 {
  margin-top: -169px;
}

/* media queries-------------------------- */

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .mid {
    display: block;
    width: 63%;
    margin: 12px;
    border: 2px;
    margin-left: 130px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    color: white;
    background: url("gym-background-img.jpg");
    font-family: "Original Surfer", cursive;
    height: "";
    width: "100vh";
    background-repeat: no-repeat;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}
